.home-section {
    margin-top: 10rem;
    color: white;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
}

.home-text h1 {
    font-size: 4.25rem;
    font-weight: 500;
}

.home-text a {
    margin-top: 3.5rem;
}

.home-text p {
    margin-top: 2.5rem;
    font-size: 1.25rem;
}

.home-figure {
    height: auto;
    width: 85%;
    margin: 3rem auto;
}

.home-figure img {
    width: 100%;
    height: 100%;
}

.background-shape {
    background: url(../img/bg_01.svg) center center no-repeat;
    background-size: cover;
    min-height: 70rem;
    width: 100%;
    position: absolute;
    top: -0.125rem;
}
