.start-section {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0, #AA63FB),
        color-stop(1, #35D3FF)
    );
    background-image: -o-linear-gradient(right top, #AA63FB 0%, #35D3FF 100%);
    background-image: -moz-linear-gradient(right top, #AA63FB 0%, #35D3FF 100%);
    background-image: -webkit-linear-gradient(right top, #AA63FB 0%, #35D3FF 100%);
    background-image: -ms-linear-gradient(right top, #AA63FB 0%, #35D3FF 100%);
    background-image: linear-gradient(to right top, #AA63FB 0%, #35D3FF 100%);

height: 120vh;
width: 100%;

display: flex;
justify-content: center;
align-items: center;

color: white;
}

.start-text h1 {
    font-weight: 500;
    width: 25.875rem;
    margin: 1.5rem 0 2.5rem 0;;
}

.start-text p {
    font-size: 1.25rem;
    width: 25.5rem;
    margin-bottom: 4rem;
}

.start-figure {
    width: 43.75rem;
    height: 35rem;
    margin-left: 10%;
}

.start-figure img {
    width: 100%;
    height: auto;
}